:root {
  --border: 1px dashed var(--surface-3);
  --shadow: 0 0 0.5rem hsla(0 0% 0% / 0.1);
  --space: 1rem;
  --surface-1: hsl(0 0% 98%);
  --surface-2: hsl(0 0% 90%);
  --surface-3: hsl(0 0% 68%);
}

/* *{
  outline: 1px solid tomato;
} */

*, *::before, *::after {
  box-sizing: border-box;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.main__btn{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  background-color: transparent;
  cursor: pointer;
  border:   1.5px solid #FFFFFF;
  color: #FFFFFF;
}

.main__btn::after{
  content: "";
  background-image: url(./public/images/arrov.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  /* margin-inline-start: 40px; */
  margin-inline-start: clamp(10px, 1vw + 1rem, 40px);
}

.haero__btn-size{
  padding-block: 29px;
  padding-inline: clamp(20px, 2vw + 1rem, 81px);
}

.services__btn-size{
  padding-block: 29px;
  padding-inline: clamp(20px, 1vw + 1rem, 64px);
}

.container{
  max-width: 1840px;
  padding-inline: 1rem;
  margin-inline: auto;
}

/* HEADER */

.header{
  padding-block: 36px;
  background-color: #0D0D0D;
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
}
header.active {
  box-shadow: hsla(0, 20%, 97%, 0.308) 0 1.1rem 1rem;
  transition-duration: 400ms;
}


.header__nav{
  display: flex;
  gap: 300px;
  align-items: center;
}
.sub__box-nav{
  display: flex;
  gap: 64px;
border-bottom: 0.4px solid rgba(255, 255, 255, 0.52);
padding-block-end: 8px;
}

.sub__box-nav button{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;  
}

.header__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .header__list{
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: 500ms ease-in;
}


/**MOBILE-ADAPTIVE**/


.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 30;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1450px) {
  .burger {
    display: block;
  }
  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(29.5px);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    flex-direction: column;
    gap: 20px;
}

.nav--visible {
  transform: none;
}

.nav__item:not(:last-child) {
  margin-right: 0;
}


.header__list {
  --index: calc(1vw + 1vh);
    flex-direction: column;
    padding: calc(var(--index) * 3) calc(var(--index) * 7.5);
    flex-direction:
     column;
    align-items: flex-start;
}
}





/* HEARO */

.hearo{
  background-color: black;
}

.hearo__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(30px, 5vw + 1rem, 75px);
  line-height: clamp(20px, 5vw + 1rem, 91px);
  color: #FFFFFF;
  padding-block-start: 174px;
  max-width: 889px;
  padding-block-end: 125px;
}

.hearo__title-rigth-p{
  /* padding-inline-start: 130px; */
  padding-inline-start: clamp(20px, 5vw + 1rem, 130px);

}

.hearo__title-sin{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: clamp(30px, 5vw + 1rem, 75px);
  line-height: clamp(20px, 5vw + 1rem, 91px);
}

.hero__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 133px; */
  gap: clamp(10px, 5vw + 1rem, 133px);
}

.hero__list>*+*{
  border-left: 1px solid rgba(255, 255, 255, 0.43);
  padding-inline-start: clamp(10px, 5vw + 1rem, 133px);
}

.hearo__list-item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.hearo__inner-box{
  border-top: 1px solid rgba(255, 255, 255, 0.52);
  padding-block-start: 46px;
  padding-block-end: clamp(40px, 7vw + 1rem, 165px);
}

.hearo-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 256px;
}

.container:has(h1){
  border-bottom: 1px solid rgba(255, 255, 255, 0.52);
  padding-block-end: 100px;
}

.flex-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 670px) {
  .flex-group{
    justify-content: center;
  }
}

.services{
  background-color: black;
}

.services__box{
  padding-block-start: clamp(30px, 7vw + 1rem, 182px);
  padding-block-end: clamp(60px, 7vw + 1rem, 160px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.services__info-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: clamp(30px, 5vw + 1rem, 138px);
  line-height: 101.4%;
  color: #FFFFFF;
  max-width: 777px;
  padding-block-end: clamp(30px, 7vw + 1rem, 264px);
}

@media (max-width: 1400px) {
  .services__info{
    margin-inline: auto;
    text-align: center;
    padding-block-end: 20px;
  }

  .services__types{
    margin-inline: auto;
  }
}

.types__list{
  display: flex;
  flex-direction: column;
  gap: 34px;
  text-align: left;
  justify-content: start;
}

.types__list-item a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.services__types{
  min-width: 800px;
}

@media (max-width: 860px) {
  .services__types{
    min-width:-webkit-fill-available;
  }
}

.types__list-item{
  padding-block-end: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

.case{
  background-color: black;
  padding-block-end: 100px;
}

.case__nav{
  padding-block-start: clamp(30px, 5vw + 5rem, 175px);
  padding-block-end: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:680px) {
  .case__nav{
    justify-content: center;
  }
}

.case__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 101.4%;
  color: #FFFFFF;
}

.case__slides{
  --gap: 2rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  /* padding-inline-start: 300px; */
  padding-inline-start: clamp(100px, 5vw + 10rem, 300px);
}

.case__slides::-webkit-scrollbar {
  inline-size: 0;
  display: none;
}

.case__slides-content{
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap); 
}

.case__slides-content::after {
  content: "";
  align-self: stretch;
}


.product{
  max-width: 394px;
  background: #0D0D0D;
  border: 0.1px solid #FFFFFF;
  padding: 47px;
}
.product__prev{
  display: flex;
  gap: 29px;
  padding-block-end: 77px;
}

.product__prev-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 216px;
}

.product__list{
  display: grid;
  grid-template-columns: auto; /* The default, but best to be explicit */
  gap: 33px;
  grid-auto-columns: 1fr;
  margin-block-end: 30px;
}

.product__list-item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
}

.product__list-item span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.cooperation{
  background-color: black;
  padding-block-end: 100px;
}

.cooperation__prevu{
  padding-block: 140px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width:1400px) {
    .cooperation__prevu{
      justify-content: center;
      text-align: center;
    }
}

.cooperation__titel{
  font-family: 'Montserrat';
  max-width: 650px;
  font-style: normal;
  font-weight: 800;
  /* font-size: 105px; */
  font-size: clamp(30px, 5vw + 1rem, 105px);

  line-height: 89.9%;
  color: #FFFFFF;
}

.cooperation__info{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 803px;
}

.cooperation__steps{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 300px;
}

.steps__list{
  display: flex;
  flex-direction: column;
  gap: 64px;
}


.steps__number{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 101.4%;
  color: #FFFFFF;
}
  .steps__name{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 101.4%;
  color: #FFFFFF;
  max-width: 560px;
  }

  .steps__description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.4%;
    color: #FFFFFF    ;
    max-width: 560px;
  }

  .detail__name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    /* font-size: 35px; */
    font-size: clamp(20px, 2vw + 1rem, 35px);
    line-height: 101.4%;
    color: #FFFFFF;
    max-width: 534px;
  }

  .detail__description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.4%;
    color: #FFFFFF;
    max-width: 567px;
  }

  .detail__flex-grup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    padding-block: 61px;
  }
.detail__flex-name{
  display: flex;
  /* gap: 206px; */
  gap: clamp(20px, 6vw + 1rem, 206px);
}

.detail__flex-name span{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 101.4%;
color: #FFFFFF;
}

.derail__box{
  display: flex;
  flex-direction: column;
  padding-inline-start: clamp(20px, 6vw + 1rem, 300px);
}

@media (max-width:1300px) {
.detail__flex-grup{
  flex-wrap: wrap;
}
.detail__flex-name{
  margin-inline: auto;
  padding-block-end: 20px;
}
.detail__description{
  margin-inline: auto;
}
.cooperation__prevu{
  justify-content: center;
  text-align: center;
  gap: 20px;
}
}

.sponsors{
  padding-block: clamp(70px, 5vw + 5rem, 156px);
  background-color: black;
}

.sponsors__box {
  display: flex;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    ( to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.sponsors__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 127px;
  min-width: 100%;
  animation: scroll-x 30s linear infinite;
  margin-inline-end: 20px;
}

@keyframes scroll-x {
  from {
    transform: translateX (0);
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY (0);
  }
  to {
    transform: translateY (calc(-100% - 21px)) ;
  }
}


.news{
  background-color: black;
  padding-block: 140px;
}
.news__text{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block-end: 130px;
  gap: 30px;
}

.news__title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
/* font-size: 83px; */
font-size: clamp(30px, 5vw + 1rem, 83px);
line-height: 89.9%;
color: #FFFFFF;
}

.news__text-description{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 101.4%;
  color: #FFFFFF;
  max-width: 1200px;
}

.news__box {
  display: flex;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    ( to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.news__box li{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 101.4%;
  text-align: right;
  color: #FFFFFF;
  max-width: 369px;
}

.news__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  animation: news-x 20s linear infinite;
  margin-inline-end: 20px;
}

@keyframes news-x {
  from {
    transform: translateX (0);
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}

.news__group:is([data-diraction="right"]){
  animation-direction: reverse;
}


.news__galary{
  --gap: 2rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  padding-inline-start: 100px;
}

.galary__list{
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  padding-block: 50px;
}

.galary__list-item{
  max-width: 398px;
}

.galary__list-item img{
  aspect-ratio: 1/1;
  object-fit: cover;
}

.news__galary::-webkit-scrollbar {
  inline-size: 0;
  display: none;
}


.contact{
  padding-block-end: 60px;
  background-color: #0D0D0D;
}

.contact__box{
  display: flex;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    ( to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.contact__list{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  animation: contact 30s linear infinite;
  margin-inline-end: 20px;
}

.contact__list-item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 97px;
  line-height: 89.9%;
  color: #FFFFFF;
}

@keyframes contact {
  from {
    transform: translateX (0);
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}

.link__box{
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(29.5px);
  border-radius: 47px;
  transform: rotate(-6.48deg);
  max-width: 613px;
  padding: 34px 49px;
  margin-inline: auto;
  position: relative;
}

.link__box::after{
  content: "";
  background-image: url(./public/images/contact/click.png);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 98px;
  height: 129px;
  position: absolute;
  right: 0;
  transform: rotate(-3.06deg);
}

.contact__link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(19px, 1vw + 1rem, 27px);
  line-height: 101.4%;
  text-align: right;
  text-decoration-line: underline;
  color: #FFFFFF;  
  transform: rotate(-6.48deg);
  position: relative;
}

.contact__link-sub-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 101.4%;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-6.48deg);
  padding-block-start: 20px;
}

.footer{
  background-color: #0D0D0D;
  padding-block: 50px;
}

.footel__links{
  display: flex;
  align-items: center;
  gap: 111px;
  justify-content: center;
  flex-wrap: wrap;
}

.links__item a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 39px;
  color: #FCFCFC;
}


