*, *::before, *::after {
  box-sizing: border-box;
}

li{
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.main__btn{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  background-color: transparent;
  cursor: pointer;
  border:   1.5px solid #FFFFFF;
  color: #FFFFFF;
}

.main__btn::after{
  content: "";
  background-image: url(./public/images/arrov.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-inline-start: 40px;
}

.haero__btn-size{
  padding: 29px 81px;
}

.services__btn-size{
  padding: 29px 64px;
}

.container{
  max-width: 1840px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.header{
  padding-block-start: 36px;
  background-color: black;
}

.flex-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list{
  display: flex;
  gap: 61px;
  align-items: center;
  flex-wrap: wrap;
}

.list__item-lick{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.side__nuv{
  padding-block-end: 8px;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.52);
}

.side__list{
  display: flex;
  align-items: center;
  gap: 46px;
  flex-wrap: wrap;
}

.side__list-item button{
  font-family: 'Montserrat';
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.hearo{
  background-image: url(./public/images/hearo/hearo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: rotate(152deg);
  /* filter: blur(92px); */
/* transform: rotate(152.51deg); */
}

.hearo__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 91px;
  color: #FFFFFF;
  padding-block-start: 174px;
  max-width: 889px;
  padding-block-end: 125px;
}

.hearo__title-rigth-p{
  padding-inline-start: 130px;
}

.hearo__title-sin{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 91px;
}

.hero__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 133px;
}

.hero__list>*+*{
  border-left: 1px solid rgba(255, 255, 255, 0.43);
  padding-inline-start: 133px;
}

.hearo__list-item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.hearo__inner-box{
  border-top: 1px solid rgba(255, 255, 255, 0.52);
  padding-block-start: 46px;
  padding-block-end: 165px;
}

.hearo-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 256px;
  padding-block-end: 118px;
}

.container:has(h1){
  border-bottom: 1px solid rgba(255, 255, 255, 0.52);
}

.services{
  background-image: url(./public/images/hearo/hearo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: rotate(152deg);
  /* filter: blur(92px); */
}

.services__box{
  padding-block: 182px 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__info-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 138px;
  line-height: 101.4%;
  color: #FFFFFF;
  max-width: 777px;
  padding-block-end: 264px;
}

.types__list{
  display: flex;
  flex-direction: column;
  gap: 34px;
  text-align: left;
  justify-content: start;
}

.types__list-item a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.services__types{
  min-width: 800px;
}

.types__list-item{
  padding-block-end: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

.case{
  background-image: url(./public/images/hearo/hearo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: rotate(152deg);
  padding-block-end: 100px;
}

.case__nav{
  padding-block: 175px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case__title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 101.4%;
  color: #FFFFFF;
}

.case__slides{
  --gap: 2rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  padding-inline-start: 300px;
}

.case__slides::-webkit-scrollbar {
  inline-size: 0 !important;
  display: none;
}

.case__slides-content{
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap); 
}

.case__slides-content::after {
  content: "";
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - var(--content-max-width)) / 2 - var(--space)
  );
}


.product{
  max-width: 394px;
  background: #0D0D0D;
  border: 0.1px solid #FFFFFF;
  padding: 47px;
}
.product__prev{
  display: flex;
  gap: 29px;
  padding-block-end: 77px;
}

.product__prev-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 216px;
}

.product__list{
  display: flex;
  flex-direction: column;
  gap: 33px;  
  padding-block-end: 20px;
}

.product__list-item{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.product__list-item span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}